.App {
  margin: 10px;
}
.task-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.task-input {
  width: 500px;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 4px;
}
.addTaskBtn {
  height: 35px;
}
/* todo app */
.lineThrough {
  text-decoration: line-through;
}
/* tabs component */
.heading-container {
  display: flex;
}
.heading {
  padding: 5px;
  border: 1px solid black;
  cursor: pointer;
}
.tab-body {
  display: flex;

  border: 1px solid black;
  height: 200px;
  padding: 5px;
}
.error {
  color: red;
  display: block;
  font-size: small;
}
.img-carousel {
  height: 400px;
  width: 100%;
}
.image-container {
  position: relative;
}
.prev-btn,
.next-btn {
  position: absolute;
  background-color: blanchedalmond;
  top: 50%;
  border-radius: 10px;
  padding: 0.5rem;
  cursor: pointer;
}
.next-btn {
  right: 1rem;
}
.prev-btn {
  left: 1rem;
}
.otpInput {
  height: 1rem;
  width: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
}
.timer-input {
  height: 2rem;
  width: 2rem;
  padding: 0.5rem;
  margin: 1rem;
}
.countdown-btn-container {
  margin: 1rem;
  display: flex;
  gap: 1rem;
}
.accordian-container {
  border: 2px solid black;
  margin: 0.5rem 0;
  padding: 0.5rem;
  position: relative;
}
.faq-span {
  position: absolute;
  right: 2rem;
  cursor: pointer;
}
